<template>
	<div class="card">
		<div class="card__content">
			<div class="card__line">The year <input class="card__line--year" type="text" v-model="inputYear" @change="weekArray"></div>
			<div class="card__line">{{ yearInFuture ? 'will start' : 'started' }} on a <span class="card__line--day">{{ formatDay(startDay(inputYear)) }}</span>.</div>
			<div class="card__line">{{ yearInFuture ? 'It\'ll be' : 'It\'s' }} a {{ isLeapYear(inputYear) ? 'leap' : 'common' }} year.</div>
			<div class="card__list">
				<div class="card__line">It {{ yearInFuture ? 'will have' : 'has' }}:</div>
				<div v-for="(day, key) in weekArray(inputYear)" class="card__list-item"><span :class="day > 52 ? ' card__list-item--red' : ''">{{ day }}</span> {{ formatDay(key, true) }}</div>
			</div>
		</div>
		<div class="card__rulers">
			<div v-for="ruler in [...Array(12)]" class="card__ruler"></div>
		</div>
		<div class="card__vertical-ruler"></div>
		<div class="card__punch-holes">
			<div v-for="hole in [...Array(2)]" class="card__punch-hole"></div>
		</div>
	</div>
</template>

<script>
import { ref, watch } from 'vue';
import { isLeapYear } from '@/utils/isLeapYear';
import { startDay } from '@/utils/startDay';
import { formatDay } from '@/utils/formatDay';
import { weekArray } from '@/utils/weekArray';

export default {
	name: 'App',
	setup() {
		const date = new Date()
		let inputYear = ref(date.getFullYear())
		let yearInFuture = ref(false)

		watch(inputYear, () => {
			if (inputYear.value > date.getFullYear()) {
				yearInFuture.value = true
			} else {
				yearInFuture.value = false
			}
		})

		return {
			inputYear,
			isLeapYear,
			startDay,
			weekArray,
			formatDay,
			yearInFuture
		}
	}
}
</script>

<style lang="scss">
@import '@/scss/fonts.scss';

body {
	margin: 0;
	padding: 0;
}

#app {
	font-family: 'Gotham';
	color: #000033;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	line-height: 1.5;
}

.card {
	background-color: #FFFFCC;
	padding: 64px;
	padding-left: 128px;
	width: 820px;
	box-sizing: border-box;
	border-radius: 32px;
	box-shadow: 16px 16px 64px rgba(0,0,0,0.1);
	position: relative;

	&__content {
		z-index: 1500;
		position: relative;
	}

	&__line {
		font-size: 48px;

		&--year {
			font-size: 48px;
			width: 50%;
			border: none;
			background-color: transparent;
			color: #003399;
			font-weight: bold;
			font-family: 'Gotham';
			&:focus {
				outline: none;
			}
		}

		&--day {
			color: #CC0000	;
			font-weight: bold;
			font-size: 46px;
		}
	}

	&__list {
		margin-top: 72px;
	}

	&__list-item {
		font-size: 48px;
		height: 72px;
		display: grid;
		grid-template-columns: 78px auto;

		&--red {
			color: #CC0000	;
			font-weight: bold;
			font-size: 46px;
		}
	}

	&__rulers {
		position: absolute;
		top: 64px;
		left: 0;
		width: 100%;
		z-index: 100;
	}

	&__ruler {
		background-color: #0099CC;
		height: 2px;
		width: 100%;
		margin-top: 70px;
	}

	&__vertical-ruler {
		position: absolute;
		width: 2px;
		height: 100%;
		background-color: #FF0066;
		top: 0;
		left: 112px;
	}

	&__punch-holes {
		position: absolute;
		top: 0;
		left: 40px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__punch-hole {
		width: 32px;
		aspect-ratio: 1;
		background-color: white;
		border-radius: 16px;
		box-shadow: inset 0 0 16px rgba(0,0,0,0.1);
	}
}
</style>
