$fontFamily: "Gotham";
$urlPrefix: "@/fonts/";
$filePrefix: "gotham-";
$format: "truetype";
$fonts:
	400 "normal" "book.ttf",
	700 "normal" "bold.otf";

@each $weight, $style, $fileName in $fonts {
	@font-face {
		font-family: $fontFamily;
		src: url(#{$urlPrefix}#{$filePrefix}#{$fileName}) format($format);
		font-weight: $weight;
		font-style: $style;
	}    
}